<div nz-row>
    <div nz-col nzOffset="21" nzSpan="1">
        <button nz-button class="print-btn" nzType="primary" (click)=" GenerarFactura()" [nzLoading]="spinnerIsVisible"><i nz-icon nzType="printer" nzTheme="outline"></i></button>
    </div>
    <div nz-col nzSpan="1">
        <button nz-button class="print-btn" nzType="primary" (click)=" sendFile()" [nzLoading]="spinnerIsVisible"><i nz-icon nzType="send" nzTheme="outline"></i></button>
    </div>
</div>
<br>
<hr>
<div id="content">
    <div class="cabecera">
        <!-- <img style="width: 50px;" [src]="" alt="Cliente"> -->
        <h2> {{dataInvoice.contrato.cliente}} </h2>
        <div style="text-align: end;">
            <p class="direccion"> </p>
            <p class="direccion"></p>
        </div>
    </div>
    <br>
    <div class="body">
        <div class="titulos">
            <h5>Datos de Factura</h5>
            <h5>Datos del titular </h5>
        </div>
        <div class="grid-container">

            <div class="datos">
                <div>
                    <p class="etiqueta-izq"> Fecha lectura: </p>
                    <p class="etiqueta-izq"> Fecha vencimiento: </p>
                    <p class="etiqueta-izq"> Fecha emisión: </p>
                    <p class="etiqueta-izq"> Fechas facturadas: </p>
                    <p class="etiqueta-izq"> Días facturación: </p>
                    <p class="etiqueta-izq"> Número factura: </p>
                </div>
                <div>
                    <p class="etiqueta-der">{{dataInvoice.medidor[0].historico.fechaActual | date:'dd/M/yyyy':'GMT' }} </p>
                    <p class="etiqueta-der">{{ vencimiento | date:'dd/M/yyyy':'GMT' }}</p>
                    <p class="etiqueta-der">{{hoy | date:'dd/M/yyyy':'GMT' }}</p>
                    <p class="etiqueta-der">{{dataInvoice.medidor[0].historico.fechaAnterior | date:'dd/M/yyyy':'GMT' }}  hasta  {{dataInvoice.medidor[0].historico.fechaActual | date:'dd/M/yyyy':'GMT' }} </p>
                    <p class="etiqueta-der"> {{diaFacturacion}} </p>
                    <p class="etiqueta-der"> xxxx </p>
                    <ng-template #Vacio>
                        <p class="etiqueta-der"> --- </p>
                    </ng-template>
                </div>
            </div>
            <div class="datos">
                <div>
                    <p class="etiqueta-izq-titular"> Nombre del titular:  </p>
                    <p class="etiqueta-izq-titular"> Dirección: </p>
                    <p class="etiqueta-izq-titular"> Telefono: </p>
                </div>
                <div>
                    <p class="etiqueta-der-titular"> {{dataInvoice.contrato.cliente}} </p>
                    <p class="etiqueta-der-titular"> {{dataInvoice.contrato.direccion}} </p>
                    <p class="etiqueta-der-titular"> {{dataInvoice.contrato.telefono}} </p>
                </div>
            </div>
        </div>

        <div class="titulos">
            <h5>Resumen de la Factura</h5>
        </div>
        <div class="resumen-container">
            <div class="consumo" >
                <p class="etiqueta-consumo-total"> Consumo total en KVArh </p>
                <p class="etiqueta-valor"> {{dataInvoice.totalLecturaReactivaAjustada | number:'1.2-2':'en-US'}} </p>
            </div>
            <div class="consumo">
                <p class="etiqueta-consumo-total"> Consumo total en kWh </p>
                <p class="etiqueta-valor"> {{dataInvoice.totalLecturaActivaAjustada + (dataInvoice.CEFTotal / dataInvoice.PBE) | number:'1.2-2':'en-US'}} </p>
            </div>
            <div class="consumo">
                <p class="etiqueta-consumo-total"> Total a pagar </p>
                <p class="etiqueta-valor" *ngIf="dataInvoice.cargo"> {{dataInvoice.cargo[dataInvoice.cargo.length -1].valorAjustado   | number:'1.2-2':'en-US'}} Lps</p>
            </div>
        </div>
        <br>
        <div class="titulos">
            <h5>Detalle de Consumo de Energía</h5>
        </div>
        <div class="detalle-container">
                <table class="tg">
                <thead>
                  <tr>
                    <th class="tg-dou8"></th>
                    <th class="tg-dou8">Factor de potencia</th>
                    <th class="tg-dou8">Penalizacion</th>
                    <th class="tg-dou8">Lectura Actual</th>
                    <th class="tg-dou8">Lectura Anterior</th>
                    <th class="tg-dou8">Diferencia</th>
                    <th class="tg-dou8">Multiplicador</th>
                    <th class="tg-dou8">Consumo</th>
                    <th class="tg-dou8">Unidad</th>
                  </tr>
                </thead>
                <tbody *ngFor="let data of dataInvoice.medidor">
                    <tr>
                      <td class="tg-hvao">Medidor</td>
                      <td class="tg-zk76" colspan="8">{{data.descripcion}}</td>
                    </tr>
                    <tr>
                      <td class="tg-oe15">Fecha de lectura</td>
                      <td class="tg-wk8r"></td>
                      <td class="tg-wk8r"></td>
                      <td class="tg-wk8r">{{data.historico.fechaActual  | date:'dd/M/yyyy':'GMT' }}</td>
                      <td class="tg-wk8r">{{data.historico.fechaAnterior  | date:'dd/M/yyyy':'GMT' }}</td>
                      <td class="tg-wk8r"></td>
                      <td class="tg-wk8r"></td>
                      <td class="tg-wk8r"></td>
                      <td class="tg-wk8r"></td>
                    </tr>
                    <tr>
                      <td class="tg-oe15">Activa</td>
                      <td class="tg-wk8r"></td>
                      <td class="tg-wk8r"></td>
                      <td class="tg-wk8r">{{data.historico.lecturaActivaActual  | number:'1.2-2':'en-US'}}</td>
                      <td class="tg-wk8r">{{data.historico.lecturaActivaAnterior  | number:'1.2-2':'en-US'}}</td>
                      <td class="tg-wk8r">{{data.historico.lecturaActivaActual - data.historico.lecturaActivaAnterior  | number:'1.2-2':'en-US'}}</td>
                      <td class="tg-wk8r">{{data.historico.multiplicador }}</td>
                      <td class="tg-wk8r">{{data.historico.lecturaActivaActual - data.historico.lecturaActivaAnterior  | number:'1.2-2':'en-US'}}</td>
                      <td class="tg-wk8r">kWh</td>
                    </tr>
                    <tr>
                      <td class="tg-oe15">Reactiva</td>
                      <td class="tg-wk8r">{{data.FP *100 | number:'1.2-2':'en-US'}} %</td>
                      <td class="tg-wk8r">{{data.PCFR *100 | number:'1.2-2':'en-US'}} %</td>
                      <td class="tg-wk8r">{{data.historico.lecturaReactivaActual  | number:'1.2-2':'en-US'}}</td>
                      <td class="tg-wk8r">{{data.historico.lecturaReactivaAnterior | number:'1.2-2':'en-US' }}</td>
                      <td class="tg-wk8r">{{data.historico.lecturaReactivaActual - data.historico.lecturaReactivaAnterior  | number:'1.2-2':'en-US'}}</td>
                      <td class="tg-wk8r">{{data.historico.multiplicador  | number:'1.2-2':'en-US'}}</td>
                      <td class="tg-wk8r">{{data.historico.lecturaReactivaActual - data.historico.lecturaReactivaAnterior  | number:'1.2-2':'en-US'}}</td>
                      <td class="tg-wk8r"> kWhA </td>
                    </tr>
                    
                </tbody>
                <tbody *ngFor="let data of dataInvoice.vmedidor">
                    <tr>
                      <td class="tg-hvao">Ajustes</td>
                      <td class="tg-zk76" colspan="8">{{data.descripcion}}</td>
                    </tr>
                    <tr>
                        <td class="tg-oe15">Ajuste Activa</td>
                        <td class="tg-wk8r" colspan="4"></td>
                        <td class="tg-wk8r">{{data.LecturaActiva  | number:'1.2-2':'en-US'}}</td>
                        <td class="tg-wk8r">{{data.porcentaje  | number:'1.2-2':'en-US'}} %</td>
                        <td class="tg-wk8r">{{data.LecturaActiva  | number:'1.2-2':'en-US'}}</td>
                        <td class="tg-wk8r"> kWh </td>
                    </tr>
                    <tr>
                        <td class="tg-oe15">Ajuste Reactiva</td>
                        <td class="tg-wk8r" colspan="4"></td>
                        <td class="tg-wk8r">{{data.LecturaReactiva  | number:'1.2-2':'en-US'}}</td>
                        <td class="tg-wk8r">{{data.porcentaje  | number:'1.2-2':'en-US'}} %</td>
                        <td class="tg-wk8r">{{data.LecturaReactiva  | number:'1.2-2':'en-US'}}</td>
                        <td class="tg-wk8r"> kWhA </td>
                    </tr>

                </tbody>
                <tbody>
                    
                    <tr>
                        <td class="tg-oe15">Factor potencia</td>
                        <td class="tg-wk8r">FP Medio</td>
                        <td class="tg-wk8r">FP Acumulado</td>
                        <td class="tg-wk8r" colspan="2"></td>
                        <td class="tg-wk8r">Activa total</td>
                        <td class="tg-wk8r"></td>
                        <td class="tg-wk8r">Activa + Reactiva</td>
                        <td class="tg-wk8r">Porcentaje</td>
                    </tr>
                    <tr>
                        <td class="tg-oe15">Total</td>
                        <td class="tg-wk8r">{{dataInvoice.FPTotal * 100  | number:'1.2-2':'en-US'}} %</td>
                        <td class="tg-wk8r">{{dataInvoice.PCFRTotal * 100  | number:'1.2-2':'en-US'}} %</td>
                        <td class="tg-wk8r" colspan="2"></td>
                        <td class="tg-wk8r">{{dataInvoice.totalLecturaActivaAjustada + (dataInvoice.CEFTotal / dataInvoice.PBE) | number:'1.2-2':'en-US'}} kWh</td>
                        <td class="tg-wk8r"></td>
                        <td class="tg-wk8r">{{dataInvoice.totalLecturaActivaAjustada + dataInvoice.totalLecturaReactivaAjustada  | number:'1.2-2':'en-US'}}</td>
                        <td class="tg-wk8r"> kWh - kWhA</td>
                    </tr>
                </tbody>
                </table>
            
        </div>
        <br>

 
<div class="titulos" *ngIf="dataInvoice.cargo">
    <h5>Detalle cliente regulado</h5>
    <h5>Historico consumo</h5>
</div>       
        
<div class="consumo-container" *ngIf="dataInvoice.cargo">
<div class="calculo-consumo-container">
    <div>
        <!-- <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Cargo</th>
                    <th scope="col">L/kWh</th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Valor(L.)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p style="margin: 0px;">Activa</p>
                    </td>
                    <td> xxxx </td>
                    <td> xxxx </td>
                    <td> xxxx </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin: 0px;">Reactiva</p>
                    </td>
                    <td> xxx </td>
                    <td> xxx </td>
                    <td> xxx </td>
                </tr>
            </tbody>
        </table> -->
        <div style="background-color:  #969696; text-align: center;">
            <h6>Ajuste por factor de potencia</h6>
        </div>
        <p style="color: black; font-size: 17px; margin: 0% 0% 1% 0%; font-weight: bold;"> Factor de potencia
        </p>
        <div style="position: relative;">
            <p class="formula-dividendo"> {{dataInvoice.totalLecturaActivaAjustada + (dataInvoice.CEFTotal / dataInvoice.PBE) | number:'1.2-2':'en-US'}} </p>
            <p class="formula-divisor1"> {{dataInvoice.totalLecturaActivaAjustada  + (dataInvoice.CEFTotal / dataInvoice.PBE) | number:'1.2-2':'en-US'}} <sup>2</sup> </p>
            <p class="mas"> + </p>
            <p class="formula-divisor2"> {{dataInvoice.totalLecturaReactivaAjustada | number:'1.2-2':'en-US'}} <sup>2</sup> = </p>
            <p class="resultado-factor"> {{ dataInvoice.FPTotal * 100 | number:'1.2-2':'en-US'}} % </p>
            <img class="img-formula" src="assets/raiz.svg">

        </div>
        <p style="    color: black; font-size: 17px; margin: 2% 0% 1% 0%; font-weight: bold;"> Penalizacion reactiva
        </p>
        <p class="formula-penalidad" > {{dataInvoice.PCFRTotal * 100 | number:'1.2-2':'en-US'}}% = 
            <span class="resultado-penalidad" *ngIf="dataInvoice.cargo; else sinPenalizacion">
                {{ dataInvoice.cargo[dataInvoice.cargo.length -2].valorAjustado | number:'1.2-2':'en-US'}} Lps
            </span> 
            <ng-template #sinPenalizacion>
                <span class="resultado-penalidad">
                    {{ 0 }} Lps
                </span> 

            </ng-template>
            
        </p>
            
        <div style="background-color:  #969696; text-align: center;">
            <h6>Distribucion de cargos por consumo energetico</h6>
        </div>

            <div class="contenedor-cliente-regulado">
                <div>
                    <p *ngFor="let data of dataInvoice.cargo" class="datos-cliente-regulado"> 
                        {{data.nombre}}
                    </p>
        
                </div>
                <div >
                    <p *ngFor="let data of dataInvoice.cargo" class="datos-cliente-regulado">L {{data.valorAjustado  | number:'1.2-2':'en-US'}} </p>
                </div>
            </div>
            <div style="background-color:#a9a9a9;">
                <p  style="margin: 1% 16% 0% 0%;" class="total-pagar">
                    <span style="color: black; font-weight: bold; font-size: 16px;">
                        Total:
                    </span>
                    <span style="color: black; font-weight: bold; font-size: 16px;" *ngIf="dataInvoice.cargo ; else sinTotal">
                        L {{dataInvoice.cargo[dataInvoice.cargo.length -1].valorAjustado   | number:'1.2-2':'en-US'}}
                    </span>
                    <ng-template #sinTotal>
                        <span style="color: black; font-weight: bold; font-size: 16px;" *ngIf="dataInvoice.cargo ; else sinTotal">
                            L {{'0'   | number:'1.2-2':'en-US'}} 
                        </span>
    
                    </ng-template>
                    
                </p>

            </div>
    </div>

</div>

<div class="historico-consumo-container">

    <div style="background-color: #b9b9b9; margin: 1% 3% 1% 3%;">
        <fusioncharts width="100%" height="100%" type="Column2d" [dataSource]="dataSource">
        </fusioncharts>
    </div>
    <div style="background-color: #b9b9b9; margin: 1% 3% 1% 7%;">
        <p class="totales-historico">
            <span> Promedio de consumo energia activa:</span>
            <span> {{dataSource.promedioConsumo | number:'1.2-2':'en-US' }} kWh </span>
        </p>
        <!-- <p class="totales-historico">
            <span> Promedio de consumo energia reactiva:</span>
            <span> {{dataSource.promedioConsumo | number:'1.2-2':'en-US' }} kWh </span>
        </p> -->
    </div>
</div>
    
</div>
</div>


 
<div class="titulos" *ngIf="dataInvoice.cargo">
    <h5>Origen de la electricidad</h5>
</div>  

<div class="origen-container">

    <div class="origen-energia">
        <div>
            <table class="origen-table" style="table-layout: fixed; width: 100%">
            <thead>
              <tr>
                <th class="tg-ifil">Origen</th>
                <th class="tg-ifil">Energia (kWh)</th>
                <th class="tg-ifil">Precio de la energia (Lps)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-g6p1">Generacion solar</td>
                <td class="tg-8jgo">{{dataInvoice.CEFTotal / dataInvoice.PBE  | number:'1.2-2':'en-US' }} kWh</td>
                <td class="tg-8jgo">L {{dataInvoice.CEFTotal | number:'1.2-2':'en-US' }}</td>
              </tr>
              <tr>
                <td class="tg-g6p1">Energia EEH</td>
                <td class="tg-8jgo">{{ dataInvoice.totalLecturaActivaAjustada  | number:'1.2-2':'en-US' }} kWhA</td>
                <td class="tg-8jgo">L {{ dataInvoice.cargo[dataInvoice.cargo.length - 1].valorAjustado -  dataInvoice.CEFTotal| number:'1.2-2':'en-US' }}</td>
              </tr>
              <tr>
                <td class="tg-g6p1">Total Consumo</td>
                <td class="tg-8jgo">{{ dataInvoice.totalLecturaActivaAjustada  +  (dataInvoice.CEFTotal / dataInvoice.PBE) | number:'1.2-2':'en-US' }} kWh</td>
                <td class="tg-8jgo">L {{ dataInvoice.cargo[dataInvoice.cargo.length - 1].valorAjustado  | number:'1.2-2':'en-US'}}</td>
              </tr>
            </tbody>
            </table>
            
        </div>
    </div>
    
    <div class="matriz">
        <div style="background-color: #b9b9b9; margin: 1% 3% 1% 3%;">
            <fusioncharts width="100%" height="100%" type="Pie2d" [dataSource]="pieGraph">
            </fusioncharts>
        </div>
    </div>

</div>
</div>
