

<div nz-row>
    <div nz-col nzOffset="22">
        <button nz-button class="print-btn" nzType="primary" (click)=" GenerarFactura()" [nzLoading]="spinnerIsVisible"><i nz-icon nzType="printer" nzTheme="outline"></i></button>
    </div>
</div>
<br>
<hr>
<div id="content">
    <div class="cabecera">
        <img style="width: 50px;" src="../../../../assets/Images/LogoSmall.png" alt="Cliente">
        <h2> {{dataInvoice.contrato.cliente}} </h2>
        <div style="text-align: end;">
            <p class="direccion"> Dirección: 800 Metros, Camino a la Jutosa, Choloma, Cortés </p>
            <p class="direccion"> Honduras, Centro América </p>
        </div>
    </div>
    <br>
    <div class="body">
        <div class="titulos">
            <h5>Datos de Factura</h5>
            <h5>Datos del titular </h5>
        </div>
        <div class="grid-container">

            <div class="datos">
                <div>
                    <p class="etiqueta-izq"> Fecha lectura: </p>
                    <p class="etiqueta-izq"> Fecha vencimiento: </p>
                    <p class="etiqueta-izq"> Fecha emisión: </p>
                    <p class="etiqueta-izq"> Fechas facturadas: </p>
                    <p class="etiqueta-izq"> Periodo: </p>
                    <p class="etiqueta-izq"> Días facturación: </p>
                    <p class="etiqueta-izq"> Número factura: </p>
                </div>
                <div>
                    <p class="etiqueta-der">{{dataInvoice.factura?.fechaInicial | date:'dd/M/yyyy' }} </p>
                    <p class="etiqueta-der">{{dataInvoice.factura?.fechaInicial | date:'dd/M/yyyy' }}</p>
                    <p class="etiqueta-der" *ngIf="dataInvoice.factura?.fechaInicial; else Vacio">{{dataInvoice.factura?.fechaInicial | date:'dd/M/yyyy' }}</p>
                    <p class="etiqueta-der">{{dataInvoice.factura?.fechaInicial | date:'dd/M/yyyy' }}  hasta  {{dataInvoice.factura?.fechaInicial | date:'dd/M/yyyy' }} </p>
                    <p class="etiqueta-der"> xxxx </p>
                    <p class="etiqueta-der"> xxxx </p>
                    <p class="etiqueta-der"> xxxx </p>
                    <ng-template #Vacio>
                        <p class="etiqueta-der"> --- </p>
                    </ng-template>
                </div>
            </div>
            <div class="datos">
                <div>
                    <p class="etiqueta-izq-titular"> Nombre del titular: </p>
                    <p class="etiqueta-izq-titular"> Dirección de suministro: </p>
                    <p class="etiqueta-izq-titular"> Ubicación: </p>
                    <p class="etiqueta-izq-titular"> Código del cliente: </p>
                    <p class="etiqueta-izq-titular"> Número del medidor: </p>
                    <p class="etiqueta-izq-titular"> Tipo de consumo: </p>
                    <p class="etiqueta-izq-titular"> Tarifa: </p>
                </div>
                <div>
                    <p class="etiqueta-der-titular"> xxx </p>
                    <p class="etiqueta-der-titular"> xxx </p>
                    <p class="etiqueta-der-titular"> 364-249-245 </p>
                    <p class="etiqueta-der-titular"> xxx </p>
                    <p class="etiqueta-der-titular"> xxx </p>
                    <p class="etiqueta-der-titular"> xxx </p>
                    <p class="etiqueta-der-titular"> xxx </p>
                </div>
            </div>
        </div>

        <div class="titulos">
            <h5>Resumen de la Factura</h5>
        </div>
        <div class="resumen-container">
            <div class="consumo" >
                <p class="etiqueta-consumo-total"> Demanda maxima </p>
                <p class="etiqueta-valor"> xxx </p>
            </div>
            <div class="consumo" >
                <p class="etiqueta-consumo-total"> Consumo total en KVArh </p>
                <p class="etiqueta-valor"> xxx </p>
            </div>
            <div class="consumo" >
                <p class="etiqueta-consumo-total"> Consumo en kWh </p>
                <p class="etiqueta-valor"> xxx </p>
            </div>
            <div class="consumo">
                <p class="etiqueta-consumo-total"> Consumo total en kWh </p>
                <p class="etiqueta-valor"> xxx </p>
            </div>
            <div class="consumo">
                <p class="etiqueta-consumo-total"> Total a pagar </p>
                <p class="etiqueta-valor"> xxx Lps</p>
            </div>
        </div>
        <br>
        <div class="titulos">
            <h5>Detalle de Consumo de Energía</h5>
        </div>
        <div class="titulos-detalle">
            <h6></h6>
            <h6>Lectura actual</h6>
            <h6>Lectura anterior</h6>
            <h6>Diferencia</h6>
            <h6>Multiplicador</h6>
            <h6>Consumo</h6>
            <h6>Unidades</h6>
        </div>
        <div class="detalle-container">
            <div>
                <p class="etiqueta-detalle">Fecha lectura</p>
                <p class="etiqueta-detalle">Activa</p>
                <p class="etiqueta-detalle">Reactiva</p>
                <p class="etiqueta-detalle">Demanda</p>
            </div>
            <div>
                <p class="etiqueta-detalle"> xxx </p>
                <p class="etiqueta-detalle"> xxx <span class="asterisco"> </span></p>
                <p class="etiqueta-detalle"> xxx <span class="asterisco"> </span></p>
                <p class="etiqueta-detalle"> xxx </p>
            </div>
            <div>
                <p class="etiqueta-detalle"> xxx </p>
                <p class="etiqueta-detalle"> xxx <span class="asterisco"> </span></p>
                <p class="etiqueta-detalle"> xxx <span class="asterisco"> </span></p>
                <p class="etiqueta-detalle">-</p>
            </div>
            <div>
                <p class="etiqueta-detalle">-</p>
                <p class="etiqueta-detalle"> xxx </p>
                <p class="etiqueta-detalle"> xxx </p>
                <p class="etiqueta-detalle"> xxx </p>
            </div>
            <div>
                <p class="etiqueta-detalle">-</p>
                <p class="etiqueta-detalle"> xxx </p>
                <p class="etiqueta-detalle"> xxx </p>
                <p class="etiqueta-detalle"> xxx </p>
            </div>
            <div>
                <p class="etiqueta-detalle">-</p>
                <p class="etiqueta-detalle"> xxx </p>
                <p class="etiqueta-detalle"> xxx </p>
                <p class="etiqueta-detalle"> xxx </p>
            </div>
            <div>
                <p class="etiqueta-detalle">-</p>
                <p class="etiqueta-detalle">kWh</p>
                <p class="etiqueta-detalle">kWArh</p>
                <p class="etiqueta-detalle">kW</p>
            </div>
        </div>
        <br>
<div class="titulos">
    <h5>Cálculo de Consumo de Energía</h5>
    <h5>Histórico de Consumo</h5>
</div>
        
<div class="consumo-container">
<div class="calculo-consumo-container">
    <div>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Cargo</th>
                    <th scope="col">L/kWh</th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Valor(L.)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p style="margin: 0px;">Activa</p>
                    </td>
                    <td> xxxx </td>
                    <td> xxxx </td>
                    <td> xxxx </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin: 0px;">Reactiva</p>
                    </td>
                    <td> xxx </td>
                    <td> xxx </td>
                    <td> xxx </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Cargo</th>
                    <th scope="col">L/kW-mes</th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Valor(L.)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p style="margin: 0px;">Demanda</p>
                    </td>
                    <td> xxx </td>
                    <td> xxx </td>
                    <td> xxx </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Demanda leída kW</th>
                    <th scope="col">
                        <p style="margin: 0; font-size: 10px;"> Demanda máxima kW</p>
                        <p style="margin: 0; font-size: 9px;">11 MESES X 0.85</p>
                    </th>
                    <th scope="col">Demanda contrada kW</th>
                    <th scope="col">Demanda seleccionada kW</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> xxx </td>
                    <td> xxx </td>
                    <td> xxx </td>
                    <td> xxx </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div style="background-color:  #969696; text-align: center;">
            <h6>Ajuste por factor de potencia</h6>
        </div>
        <p style="color: black; font-size: 17px; margin: 0% 0% 1% 0%; font-weight: bold;"> Factor de potencia
        </p>
        <div style="position: relative;">
            <p class="formula-dividendo"> xxx </p>
            <p class="formula-divisor1"> xxx </p>
            <p class="mas"> + </p>
            <p class="formula-divisor2"> xxx = </p>
            <p class="resultado-factor"> xxx </p>
            <img class="img-formula" src="assets/raiz.svg">

        </div>
        <p style="    color: black; font-size: 17px; margin: 2% 0% 1% 0%; font-weight: bold;"> Penalidad
        </p>
        <p class="formula-penalidad" > xxxx = <span class="resultado-penalidad">
                xxxx Lps</span> </p>
        <p class="formula-penalidad" > xxxx = <span class="resultado-penalidad">
                    xxxx Lps</span> </p>
    </div>
</div>


<div class="historico-consumo-container">
    <div style="background-color: #b9b9b9; margin: 1% 3% 1% 3%;">
        <fusioncharts width="100%" height="100%" type="Column2d" [dataSource]="dataSource">
        </fusioncharts>
    </div>
    <div style="background-color: #b9b9b9; margin: 1% 3% 1% 3%;">
        <p class="totales-historico">
            <span> Total a pagar:</span>
            <span> xxxxx Lps </span>
        </p>
    </div>
    <div style="text-align: end; margin: 1% 3% 1% 3%;">
        <p style="color: black; font-size: 12px;"> *Según reglamento de tarifas vigentes a fecha de factura
        </p>
    </div>
</div>
</div>

<div class="titulos">
<h5>Detalle como cliente regulado</h5>
<h5></h5>
</div>
<div class="impacto-container"> 
<div class="detalle-cliente-container">
    <div class="contenedor-cliente-regulado">
        <div>
            <p *ngFor="let name of ClienteReguladoCampos" class="datos-cliente-regulado"> 
                {{name}}
            </p>

        </div>
        <div *ngFor="let data of dataInvoice.cargo">
            <p class="datos-cliente-regulado">{{data.valorAjustado}} Lps</p>
        </div>
    </div>
    <div style="background-color:#a9a9a9; margin: 1% 0% 0% 0%;">
        <p class="total-pagar">
            <span style="color: black; font-weight: bold; font-size: 16px;">
                Total:
            </span>
            <span style="color: black; font-weight: bold; font-size: 16px;" *ngIf="dataInvoice.cargo ; else sinTotal">
                L {{dataInvoice.cargo[dataInvoice.cargo.length -1].valorAjustado }}
            </span>
            <ng-template #sinTotal>
                <span style="color: black; font-weight: bold; font-size: 16px;" *ngIf="dataInvoice.cargo ; else sinTotal">
                    L {{'0' }} 
                </span>

            </ng-template>
            
        </p>
    </div>
    
</div>
</div>
</div>
</div>

<nz-spin nzTip="Cargando ... " [nzSpinning]="spinnerIsVisible" nzSize="large">
    <nz-alert
      nzType="info"
      nzMessage="Alert message title"
      nzDescription="Further details about the context of this alert."
    ></nz-alert>
</nz-spin>