<button nz-button [nzType]="'primary'" (click)="showModal()"><span>RollOver</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <div nz-row>
          <div nz-col>
              <label>Fecha de RollOver</label>
              <div nz-row>
                      <nz-range-picker style="width: 475px;" [nzRanges]="ranges" ngModel (ngModelChange)="onChange($event)"></nz-range-picker>
              </div>

          </div>

      </div>
        <form nz-form [formGroup]="validateForm" nzLayout="horizontal">
          <div nz-row>
          
            <div nz-col nzSpan="11">
              <label>Codigo de medidor</label>
              <div nz-row>
                <nz-form-item  nzFlex>
                  <nz-form-control>
                    <nz-select class="inputMedium" formControlName="medidorId" [(ngModel)]="dataPosition.idMedidor" nzAllowClear>
                          <nz-option [nzLabel]="dataPosition.sourceId" [nzValue]="dataPosition.idMedidor"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
      
            </div>   

            <div nz-col nzSpan="11" nzOffset="2">

              <label>Energia</label>
              <div nz-row>
                  <nz-form-control>
                      <nz-form-item  nzFlex>
                          <nz-select class="inputMedium" formControlName="energia" nzPlaceHolder="Activa, Reactiva" nzAllowClear>
                                  <nz-option nzLabel="Activa" nzValue="true"></nz-option>
                                  <nz-option nzLabel="Reactiva" nzValue="false"></nz-option>
                          </nz-select>
                      </nz-form-item>
                  </nz-form-control>
              </div>
      
            </div>
  
        </div>


          <div nz-row>
            <div nz-col nzSpan="11">
                <label>Lectura antes de RollOver</label>
                <div nz-row>
                    <nz-form-item>
                        <nz-form-control>
                                <input nz-input style="width: 220px;" formControlName="lecturaAnterior" type="number" placeholder="1200">
                            
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-col nzSpan="11" nzOffset="2">
                <label>Nueva Lectura</label>
                <div nz-row>
                    <nz-form-item  nzFlex>
                        <nz-form-control>
                            <input nz-input style="width: 220px;" formControlName="lecturaNueva" placeholder="0.0"  type="number">
                        </nz-form-control>
                    </nz-form-item>

                </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
                <label>Observacion</label>
                <div nz-row>
                        <nz-form-item  nzFlex>
                            <nz-form-control>
                                <textarea class="inputLarge" formControlName="observacion" nz-input rows="2" placeholder="Escriba algo"></textarea>

                            </nz-form-control>
                        </nz-form-item>
                </div>

            </div>
          </div>

          <div nz-row>
            <div nz-col nzOffset="19" nzSpan="1">
                <button nz-button><i nz-icon nzTheme="outline" nzType="clear"></i></button>
            </div>
            <div nz-col nzOffset="1" nzSpan="1">
                <button nz-button (click)="submitForm()"><i nz-icon nzTheme="outline" nzType="save"></i></button>
            </div>
          </div>
          <br>
        </form>
        
        <div nz-row>
        
          <div nz-col>
        
            <nz-table [nzData]="ListOfRollOver" nzTableLayout="fixed" [nzScroll]="{ x: '1150px', y: '240px' }">
              <thead>
                <tr>
                  <th nzLeft nzWidth="180px"> # </th>
                  <th
                    *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    [nzFilterMultiple]="column.filterMultiple"
                    [nzFilters]="column.listOfFilter"
                    [nzFilterFn]="column.filterFn"
                  >
                    {{ column.name }}
                  </th>
                  <th nzRight nzWidth="80px">Acciones</th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let data of ListOfRollOver">
                  <td nzLeft> 
                    {{ data.id }}
                  </td>
                  <td>{{ data.fechaInicial  | date:'dd/M/yyyy' }}</td>
                  <td>{{ data.fechaFinal  | date:'dd/M/yyyy'  }}</td>
                  <td>{{ data.energia }}</td>
                  <td>{{ data.lecturaAnterior }}</td>
                  <td>{{ data.lecturaNueva }}</td>
                  <td nzRight> 
                      <button nz-button nzType="primary"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                  </td> 
                </tr>
              </tbody>
            </nz-table>  
        
          </div>
        
        </div>
        

        
    </ng-container>
</nz-modal>

