<h1>Zona</h1>
<div nz-row class="row-1">

  <div nz-col nzSpan="6">
    <div *ngIf="!zonaIsDisable ; else enableClients">
      <button nz-button [nzType]="'primary'" (click)="GetZones(0, true)"><span>Mostrar desabilitados</span></button>
    </div>
    <ng-template #enableClients>
      <button nz-button [nzType]="'primary'" (click)="GetZones(1, true)"><span>Mostrar Habilitados</span></button>
    </ng-template>

  </div>

  <app-submit-zone-modal  (DataUpdated)="updateTable($event)"></app-submit-zone-modal>

</div>
<div nz-row class="row-2">
  <div nz-col>
      <nz-table [nzData]="listOfData" nzTableLayout="fixed" [nzPageSize]="10">
        <thead>
          <tr>
          <th nzWidth="80px">ID</th>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              nzWidth="150px"
            >
              {{ column.name }}
            </th>
            <th nzWidth="80px">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfData">
            <td>
            <div nz-row>
              <div nz-col>
                <div *ngIf="data.estado; else disablesList"> 
                    <button nz-button nzSize="small" nzDanger nzType="primary" (click)="disableClient(data, 0)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                </div>
                <ng-template #disablesList>
                    <button nz-button nzType="primary"  nzShape="circle" (click)=" disableClient(data, 1)"><i nz-icon nzType="undo" nzTheme="outline"></i></button>
                </ng-template>

              </div>
              <div nz-col nzOffset="3">
                <app-submit-zone-modal  [dataPosition]="data"></app-submit-zone-modal>

              </div>
            </div>
            
          </td>
            
            <td >{{data.id}}</td>
            <td>{{data.codigo}}</td>
            <td>{{ data.descripcion }}</td>
            <td>{{ data.observacion }}</td>
            
          </tr>
        </tbody>
      </nz-table>
      
  </div>
</div>
