<button nz-button [nzType]="'primary'" (click)="showModal2()"><span>Parametros</span></button>
<nz-modal nzWidth="530px" [(nzVisible)]="isVisible2" nzTitle="Parametros" (nzOnCancel)="handleCancel2()" (nzOnOk)="handleOk2()" 
[nzStyle]="{ top: '40px' }">
<ng-container *nzModalContent>
    <form nz-form  [formGroup]="validateForm" nzLayout="horizontal">


    <div nz-row class="row-1">

        <div nz-col nzSpan="10">

        <label>Fecha Inicial</label>
        <div nz-row>
            <nz-form-item>
            <nz-form-control>
                <nz-date-picker class="inputMedium" formControlName="fechaInicio"></nz-date-picker>
            </nz-form-control>
            </nz-form-item>
        </div>

        </div>

        <div nz-col nzOffset="2" nzSpan="12">

        <label>Fecha Final</label>
        <div nz-row>
            <nz-form-item>
            <nz-form-control>
                <nz-date-picker class="inputMedium" formControlName="fechaFinal"></nz-date-picker>
            </nz-form-control>
            </nz-form-item>
        </div>

        </div>

    </div>

    <div nz-row class="row-2">

        <div nz-col nzSpan="10">

        <label>Cargo</label>
        <div nz-row>
            <nz-form-item>
            <nz-form-control>
                <nz-select formControlName="cargo" class="inputMedium">
                    <div *ngFor="let charge of ListOfCharges">
                        <nz-option nzLabel={{charge.nombre}} nzValue={{charge.id}}></nz-option>
                    </div>
                </nz-select>                   
            </nz-form-control>
            </nz-form-item>
        </div>

        </div>

        <div nz-col nzOffset="2" nzSpan="10">

        <label>Valor</label>
        <div nz-row>
            <nz-form-item>
            <nz-form-control>
                <input nz-input formControlName="valor" class="inputMedium" id="Descripcion" type="number" placeholder="(0.5)%"  [disabled]="false" />
            </nz-form-control>
            </nz-form-item>
        </div>

        </div>
        
    </div>

    <div nz-row class="row-3">

        <div nz-col nzSpan="24">
        
        <label  nzRequired>Observacion</label>
        <div nz-row>
            <nz-form-item>
            <nz-form-control>
                <textarea class="inputLarge" formControlName="observacion" nz-input rows="2" placeholder="Escriba algo"></textarea>
            </nz-form-control>
            </nz-form-item>
        </div>

        </div>

    </div>

    
    <div nz-row class="row-4">
        <div nz-col nzSpan="2"  nzOffset="16" class="row4-col1">
            <nz-form-item *ngIf="!currentAction"  nzFlex>
                <button nz-button nzType="default" nzShape="circle" (click)="SelectUpload()"><i nz-icon nzType="undo"></i></button>
            </nz-form-item>
        </div>
        <div nzSpan="2" nz-col>
            <div *ngIf="currentAction; else Edit">
                    <nz-form-item  nzFlex>
                        <button nz-button nzType="primary" (click)="Post()">Guardar</button>
                    </nz-form-item>
            </div>
        </div>

            <ng-template #Edit>
                <nz-form-item  nzFlex>
                    <button nz-button nzType="primary" (click)="Post()">Actualizar</button>
                </nz-form-item>
            </ng-template>

    </div>

    <div nz-row class="row-5">
        <div nz-col>
            <nz-table #filterTable [nzData]="ListOfData" nzTableLayout="fixed" [nzScroll]="{  x: '1150px', y: '385px' }"  [nzPageSize]="10">
              <thead>
                <tr>
                <th nzLeft nzWidth="80px">ID</th>
                  <th
                    *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    [nzFilterMultiple]="column.filterMultiple"
                    [nzFilters]="column.listOfFilter"
                    [nzFilterFn]="column.filterFn"
                    nzWidth="150px"
                  >
                    {{ column.name }}
                  </th>
                  <th nzRight nzWidth="80px">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of filterTable.data">
                <td nzLeft>{{ data.idParametro }}</td>
                <td>{{ data.cargo }}</td>
                <td>{{ data.valor }}</td>
                <td>{{ data.fechaInicio }}</td>
                <td>{{ data.fechaFinal }}</td>
                <td nzRight>
                    <button class="edit" nz-button nzType="primary"  nzShape="circle" (click)="SelectEdit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
                    <button class="delete" nz-button nzType="primary"  nzShape="circle" (click)="Delete(data.idParametro)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                </td>
                </tr>
              </tbody>
            </nz-table>

        </div>
    </div>


    </form>
</ng-container>
</nz-modal>
                