<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Parametros</span></button>
<nz-modal nzWidth="530px" [(nzVisible)]="isVisible" nzTitle="Parametros" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" 
[nzStyle]="{ top: '40px' }">
<ng-container *nzModalContent>
    <form nz-form  [formGroup]="validateForm" nzLayout="horizontal">

      <div nz-row>
        <div nz-col nzSpan="24">
            <label>Fecha de RollOver</label>
            <div nz-row>
                    <nz-range-picker style="width: 475px;" formControlName="fecha" [nzRanges]="ranges" ngModel (ngModelChange)="onChange($event)"></nz-range-picker>
            </div>

        </div>
    </div>
    <br>

    <div nz-row class="row-2">

        <div nz-col nzSpan="11">

        <label>Cargo</label>
        <div nz-row>
            <nz-form-item>
            <nz-form-control>
                    <nz-select formControlName="cargoId" class="inputMedium">
                        <div *ngFor="let charge of ListOfCharges">
                            <nz-option [nzLabel]="charge.nombre" [nzValue]="charge.id"></nz-option>
                        </div>
                    </nz-select>             
            </nz-form-control>
            </nz-form-item>
        </div>

        </div>

        <div nz-col nzOffset="2" nzSpan="11">

        <label>Valor</label>
        <div nz-row>
            <nz-form-item>
            <nz-form-control>
                <nz-input-number formControlName="valor" class="inputMedium" placeholder="(0.5)%"></nz-input-number>
            </nz-form-control>
            </nz-form-item>
        </div>

        </div>
        
    </div>

    <div nz-row class="row-3">

        <div nz-col nzSpan="24">
        
        <label  nzRequired>Observacion</label>
        <div nz-row>
            <nz-form-item>
            <nz-form-control>
                <textarea class="inputLarge" formControlName="observacion" nz-input rows="2" placeholder="Escriba algo"></textarea>
            </nz-form-control>
            </nz-form-item>
        </div>

        </div>

    </div>

    
    <div nz-row class="row-4">
        
        <div nz-col nzOffset="19" nzSpan="1">
            <button nz-button (click)="cleanForm()"><i nz-icon nzTheme="outline" nzType="clear"></i></button>
        </div>
        <div nz-col nzOffset="1" nzSpan="1">
                <button nz-button (click)="submitForm()"><i nz-icon nzTheme="outline" nzType="save"></i></button>

        </div>

    </div>

    <div nz-row>
        <div nz-col>
          <div *ngIf="!paramIsDisable ; else enableClients">
            <button nz-button [nzType]="'primary'" (click)="GetParams(false, true)"><span>Mostrar desabilitados</span></button>
          </div>
          <ng-template #enableClients>
            <button nz-button [nzType]="'primary'" (click)="GetParams(true, true)"><span>Mostrar Habilitados</span></button>
          </ng-template>
      
        </div>
      </div>

    <div nz-row class="row-5">
        <div nz-col>
            <nz-table [nzData]="listOfParamRelation" nzTableLayout="fixed" [nzScroll]="{  x: '1150px', y: '385px' }"  [nzPageSize]="10">
              <thead>
                <tr>
                <th nzLeft nzWidth="80px">ID</th>
                  <th
                    *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    [nzFilterMultiple]="column.filterMultiple"
                    [nzFilters]="column.listOfFilter"
                    [nzFilterFn]="column.filterFn"
                    nzWidth="150px"
                  >
                    {{ column.name }}
                  </th>
                  <th nzRight nzWidth="80px">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of ListOfData">
                <td nzLeft>{{ data.idParametro }}</td>
                <td>{{ data.cargoNombre }}</td>
                <td>{{ data.valor }}</td>
                <td>{{ data.fechaInicio  | date:'dd/M/yyyy'  }}</td>
                <td>{{ data.fechaFinal  | date:'dd/M/yyyy' }}</td>
                <td nzRight>
                    <div *ngIf="data.estado; else disablesList"> 
                        <button class="edit" nz-button nzType="primary"  nzShape="circle" (click)=" disableRelation(data, false)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
                    </div>
                    <ng-template #disablesList>
                        <button class="edit" nz-button nzType="primary"  nzShape="circle" (click)=" disableRelation(data, true)"><i nz-icon nzType="undo" nzTheme="outline"></i></button>
                    </ng-template>
                </td>
                </tr>
              </tbody>
            </nz-table>

        </div>
    </div>


    </form>
</ng-container>
</nz-modal>
                