<h1>Medidores Fisicos</h1>
  
  <app-meters-modal></app-meters-modal>

<nz-table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{ x: '1150px', y: '240px' }">
  <thead>
    <tr>
      <th nzLeft>Accion</th>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
      <th nzRight>Estado</th>

    </tr>
  </thead>
<!-- Cuerpo de tabla -->

  <tbody>
    <tr *ngFor="let data of listOfData">
      <td nzLeft>
        <button class="edit" nz-button nzType="primary"  nzShape="circle"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
        <button class="delete" nz-button nzType="primary"  nzShape="circle" (click)="DeleteMeter(data.idMedidor)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
      </td>
      <td>{{ data.idMedidor }}</td>
      <td>{{ data.codigoPM }}</td>
      <td>{{ data.descripcionPM }}</td>
      <td>{{ data.modeloMedidor }}</td>
      <td>{{ data.serieMedidor }}</td>
      <td>{{ data.tipoMedidor }}</td>
      <td nzRight *ngIf="data.estado === true"> 
        <button class="config" nz-button nzType="primary" >En Contrato</button>
      </td>
      <td nzRight *ngIf="data.estado === false"> 
        <button class="warning" nz-button nzType="primary" >Rollover</button>
      </td>
    </tr>
  </tbody>
</nz-table>



<h1>Medidores Virtuales</h1>

<app-virtual-meter-modal></app-virtual-meter-modal>

<nz-table [nzData]="listOfDataVM" nzTableLayout="fixed" [nzScroll]="{ x: '1150px', y: '240px' }">
  <thead>
    <tr>
      <th nzLeft>Accion</th>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
      <th nzRight>Estado</th>

    </tr>
  </thead>
<!-- Cuerpo de tabla -->

  <tbody>
    <tr *ngFor="let data of listOfDataVM">
      <td nzLeft>
        <button class="edit" nz-button nzType="primary"  nzShape="circle"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
        <button class="delete" nz-button nzType="primary"  nzShape="circle" (click)="DeleteMeter(data.idMedidor)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
      </td>
      <td>{{ data.idMedidor }}</td>
      <td>{{ data.codigoPM }}</td>
      <td>{{ data.descripcionPM }}</td>
      <td>{{ data.modeloMedidor }}</td>
      <td>{{ data.serieMedidor }}</td>
      <td>{{ data.tipoMedidor }}</td>
      <td nzRight *ngIf="data.estado === true"> 
        <button class="config" nz-button nzType="primary" >En Contrato</button>
      </td>
      <td nzRight *ngIf="data.estado === false"> 
        <button class="warning" nz-button nzType="primary" >Rollover</button>
      </td>
    </tr>
  </tbody>
</nz-table>

