<h1>Medidores Fisicos</h1>

<div nz-row>

  <div nz-col nzSpan="8">

    <div *ngIf="!meterIsActive ; else enableClients">
      <button nz-button [nzType]="'primary'" (click)="GetMeters(0, true)"><span>Medidores desabilitados</span></button>
    </div>
    <ng-template #enableClients>
      <button nz-button [nzType]="'primary'" (click)="GetMeters(1, true)"><span>Medidores Habilitados</span></button>
    </ng-template>

  </div>

  <div nz-col nzSpan="5">

    <app-meters-modal [listOfMPoinst]="listOfMPoinst" (DataUpdated)="updateTable($event)"></app-meters-modal>

  </div>
</div>

<div nz-row>

  <div nz-col>

    <nz-table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{ x: '1150px', y: '240px' }">
      <thead>
        <tr>
          <th nzLeft nzWidth="180px">Accion</th>
          <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
          <th nzRight nzWidth="100px">Estado</th>
          <th nzRight nzWidth="100px">RollOver</th>
          <th nzRight nzWidth="100px">Medidores Virtuales</th>
        </tr>
      </thead>
    <!-- Cuerpo de tabla -->
    
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td nzLeft> 
            <div *ngIf="data.estado; else disablesList"> 
                <button class="edit" nz-button nzType="primary" nzDanger (click)=" disableMeter(data, 0)">Desactivar Contrato</button>
            </div>
            <ng-template #disablesList>
                <button class="edit" nz-button nzType="primary" (click)=" disableMeter(data, 1)">Activar Contrato</button>
            </ng-template>
          </td>
          <td>{{ data.id }}</td>
          <td>{{ data.codigo }}</td>
          <td>{{ data.sourceId }}</td>
          <td>{{ data.descripcion }}</td>
          <td>{{ data.modelo }}</td>
          <td>{{ data.serie }}</td>
          <td>{{ data.tipo }}</td>
          <td nzRight> 
            <div *ngIf="data.estado; else contractDisable"> 
                <p><span>Contrato Activo</span></p>
            </div>
            <ng-template #contractDisable>
                <p><span>Contrato Inactivo</span></p>
            </ng-template>
          </td> 
          <td nzAlign="center"  nzRight> 
            <app-roll-over-modal [dataPosition]="data"></app-roll-over-modal>
          </td>
          <td nzAlign="center" nzRight>
            <app-virtual-meter-modal [listOfVMeters]="listOfDataVM" [dataPosition]="data"></app-virtual-meter-modal>
          </td>
        </tr>
      </tbody>
    </nz-table>  

  </div>

</div>

