<h1>Medidores Fisicos</h1>
<br>
<div nz-row>

  <div nz-col nzSpan="5">

    <div *ngIf="!meterIsActive ; else enableClients">
      <button nz-button [nzType]="'primary'" (click)="GetMeters(0, true)"><span>Medidores desabilitados</span></button>
    </div>
    <ng-template #enableClients>
      <button nz-button [nzType]="'primary'" (click)="GetMeters(1, true)"><span>Medidores Habilitados</span></button>
    </ng-template>

  </div>

  <div nz-col nzSpan="5">

    <app-meters-modal [listOfMPoinst]="listOfMPoinst" (DataUpdated)="updateTable($event)"></app-meters-modal>

  </div>
</div>

<br>

<div nz-row>

  <div nz-col>

    <nz-table [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{ x: '1150px', y: '240px' }">
      <thead>
        <tr>
          <th nzLeft nzWidth="100px">Accion</th>
          <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
          <th nzRight nzWidth="80px">Estado</th>
          <th nzRight nzWidth="90px">RollOver</th>
          <th nzRight nzWidth="100px">Medidores Virtuales</th>
        </tr>
      </thead>
    <!-- Cuerpo de tabla -->
    
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td nzLeft> 
            <div nz-row>
              <div nz-col>
                <div *ngIf="data.estado; else disablesList"> 
                    <button nzSize="small" nz-button nzType="primary" nzDanger (click)=" disableMeter(data, 0)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
    
                </div>
                <ng-template #disablesList>
                    <button nzSize="small"  nz-button nzType="primary" (click)=" disableMeter(data, 1)"><i nz-icon nzType="file-done" nzTheme="outline"></i></button>
    
                </ng-template>

              </div>
              <div nz-col nzOffset="3">
                <app-meters-modal [listOfMPoinst]="listOfMPoinst" [dataPosition]="data"></app-meters-modal>


              </div>
            </div>

          </td>
          <td>{{ data.id }}</td>
          <td>{{ data.codigo }}</td>
          <td>{{ data.sourceId }}</td>
          <td>{{ data.descripcion }}</td>
          <td>{{ data.modelo }}</td>
          <td>{{ data.serie }}</td>
          <td>{{ data.tipo }}</td>
          <td nzRight nzAlign="center"> 
            <div *ngIf="data.estado; else contractDisable"> 
                <i nz-icon nzType="check-circle" nzTheme="outline"></i>
            </div>
            <ng-template #contractDisable>
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>
            </ng-template>
          </td> 
          <td nzAlign="center"  nzRight> 
            <app-roll-over-modal [dataPosition]="data"></app-roll-over-modal>
          </td>
          <td nzAlign="center" nzRight>
            <app-virtual-meter-modal [listOfVMeters]="listOfDataVM" [dataPosition]="data"></app-virtual-meter-modal>
          </td>
        </tr>
      </tbody>
    </nz-table>  

  </div>

</div>

