<h1>Contratos</h1>
<div nz-row class="row-1">

    <div nz-col nzOffset="8" nzSpan="4" class="row1-col1">
      <app-modal-new-contract [ListOfClients]="ListOfClients" [ListOfData]="ListOfData"></app-modal-new-contract>
    </div>

    <div nz-col nzSpan="12" class="row1-col2">

        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
        
    </div>


</div>
<div nz-row class="row-2">
  <div nz-col>
      <nz-table #filterTable [nzData]="ListOfData" nzTableLayout="fixed" [nzScroll]="{  x: '1150px', y: '385px' }"  [nzPageSize]="10">
        <thead>
          <tr>
          <th nzLeft nzWidth="80px" nzAlign="center">Acciones</th>
            <th
              *ngFor="let column of listOfColumns"
              [nzSortOrder]="column.sortOrder"
              [nzSortFn]="column.sortFn"
              [nzSortDirections]="column.sortDirections"
              [nzFilterMultiple]="column.filterMultiple"
              [nzFilters]="column.listOfFilter"
              [nzFilterFn]="column.filterFn"
              nzWidth="90px"
            >
              {{ column.name }}
            </th>
            <th nzRight nzWidth="120px" nzAlign="center">Medidores</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filterTable.data">    
            <td nzLeft nzAlign="center">
              <app-modal-new-contract [ListOfClients]="ListOfClients" [ListOfData]="ListOfData" [dataPosition]="data"></app-modal-new-contract>
                <button class="delete" nz-button nzType="primary"  nzShape="circle"><i nz-icon nzType="delete" nzTheme="outline" (click)="DeleteRate(data.id)"></i></button>
              </td>
            <td>{{data.id}}</td>
            <td>{{data.codigo}}</td>
            <td>{{data.descripcion}}</td>
            <td>{{ data.cliente }}</td>
            <td>{{ data.fechaCreacion }}</td>  
            <td nzRight nzAlign="center">
                <app-modal-medidores></app-modal-medidores>
              </td>
          </tr>
        </tbody>
      </nz-table>
      
  </div>
</div>
