   <!-- Opciones de tabla -->

<div nz-row class="table-operations">
    <button nz-col nzSpan="6" nz-button (click)="sortByAge()">Orden por estado</button>
    <button nz-col nzSpan="6" nz-button (click)="resetSortAndFilters()">Quitar filtros y orden</button>
    <app-meters-modal></app-meters-modal>
</div> 
  <!-- Ecabezado de tabla -->

  <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed" [nzScroll]="{ x: '1150px', y: '240px' }">
    <thead>
      <tr>
        <th nzLeft>Accion</th>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name }}
        </th>
        <th nzRight>Estado</th>

      </tr>
    </thead>
  <!-- Cuerpo de tabla -->

    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td nzLeft>
          <button class="edit" nz-button nzType="primary"  nzShape="circle"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
          <button class="delete" nz-button nzType="primary"  nzShape="circle" (click)="DeleteMeter(data.Id)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
        </td>
        <td>{{ data.Id }}</td>
        <td>{{ data.Codigo }}</td>
        <td>{{ data.Descripcion }}</td>
        <td>{{ data.Modelo }}</td>
        <td>{{ data.Serie }}</td>
        <td>{{ data.Tipo }}</td>
        <td nzRight *ngIf="data.Estado === true"> 
          <button class="config" nz-button nzType="primary" >En Contrato</button>
        </td>
        <td nzRight *ngIf="data.Estado === false"> 
          <button class="warning" nz-button nzType="primary" >Rollover</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
